@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Sidebar */
  aside {
    @apply w-full flex items-center bg-black fixed bottom-0 left-0 right-0 order-2 z-50 lg:top-0 lg:bottom-full lg:left-0 lg:order-1 lg:flex-col justify-evenly border-t border-[#1f2123] p-5 lg:border-t-0 lg:border-r lg:w-[70px] lg:min-h-screen;
  }

  /* featured media */
  #featured {
    @apply w-full h-full;
  }
  #featured .featured-container {
    @apply relative flex items-center flex-col lg:flex-row justify-between;
  }
  #featured .featured-content {
    @apply px-10 lg:px-[6.25rem] h-full w-full lg:w-2/3 space-y-4;
    background-image: linear-gradient(
      to top,
      rgb(0 0 0 / 1) 0%,
      rgb(0 0 0 / 1) 50%,
      transparent 100%
    );
  }
  #featured h1 {
    @apply text-3xl sm:text-4xl md:text-5xl line-clamp-2;
  }
  #featured p {
    @apply opacity-80 min-[150px]:hidden min-[250px]:block md:line-clamp-5 text-xs md:text-base;
  }
  #featured button#watch_trailer {
    @apply hidden sm:inline-flex items-center gap-2.5 px-6 py-3 transition-colors bg-[#17181a] hover:bg-[#292a2d];
  }

  /*  Media  */
  .popular {
    @apply py-5 min-h-80;
    background: linear-gradient(to right, #111, 60%, #000);
  }
  .popular .header {
    @apply mt-4 px-5 md:px-10 flex items-center justify-between;
  }
  .popular .header h1 {
    @apply sm:text-xl md:text-2xl;
  }
  .popular .header a {
    @apply text-xs md:text-base text-[#777] opacity-95 hover:text-[#40c1ad];
  }
  .popular .content {
    @apply overflow-x-auto px-5 md:px-10;
  }
  .popular .content ul {
    @apply flex my-5 justify-between flex-shrink-0 gap-2;
  }
  .popular .content li {
    @apply p-1 w-40 md:w-60 bg-gray-800 hover:scale-105;
  }
  .popular .media-item {
    @apply p-0.5 sm:p-1 w-28 sm:w-40 md:w-60 bg-gray-800 hover:scale-105;
    transition: transform 0.4s ease;
  }
  .popular .content img {
    @apply w-full h-full object-cover;
  }
  .movie-title {
    @apply mt-2 text-xs md:text-sm lg:text-base;
  }
}

@media (min-width: 1024px) {
  #featured .featured-content {
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 1) 0%,
      rgb(0 0 0 / 1) 50%,
      transparent 100%
    );
  }
}
